<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.huanzhanapicenter.mapper.ApiInterfaceInformationMapper">

    <resultMap id="BaseResultMap" type="com.example.huanzhanapicenter.domain.ApiInterfaceInformation">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="interfacename" column="InterfaceName" jdbcType="VARCHAR"/>
            <result property="method" column="Method" jdbcType="VARCHAR"/>
            <result property="interfacefunction" column="InterfaceFunction" jdbcType="VARCHAR"/>
            <result property="interfacestatus" column="InterfaceStatus" jdbcType="INTEGER"/>
            <result property="onlineaddress" column="OnlineAddress" jdbcType="VARCHAR"/>
            <result property="requestparams" column="RequestParams" jdbcType="VARCHAR"/>
            <result property="respondtype" column="RespondType" jdbcType="VARCHAR"/>
            <result property="responddata" column="RespondData" jdbcType="VARCHAR"/>
            <result property="invokednumber" column="InvokedNumber" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,InterfaceName,Method,
        InterfaceFunction,InterfaceStatus,OnlineAddress,
        RequestParams,RespondType,RespondData,
        InvokedNumber
    </sql>
</mapper>
